    
<section id="advanced-features" class="ts-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp" style="visibility: hidden;">
                <div class="ts-title">
                    <h2>Advanced Features</h2>
                </div>
                <!--end ts-title-->
                <p>
                    Vivamus fermentum magna non faucibus dignissim. Sed a venenatis mi, vel tempus neque.
                    Fusce pharetra, diam in hendrerit facilisis, enim diam cursus augue.
                </p>
                <ul class="ts-list-colored-bullets">
                    <li>Sed a venenatis mi, vel tempus neque. </li>
                    <li>Diam in hendrerit facilisis, enim diam cursus augue.</li>
                    <li>Nullam tellus turpis, molestie ac urna</li>
                </ul>
            </div>
            <!--end col-xl-5-->
            <div class="col-md-7 col-xl-7 text-center" data-animate="ts-fadeInUp" data-delay="0.1s" style="animation-delay: 0.1s; visibility: hidden;">
                <div class="px-3">
                    <img src="assets/img/image-device-01.png" class="mw-100" alt="">
                </div>
            </div>
            <!--end col-xl-7-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>