<section class="ts-block">
    <div class="container">
        <div class="row">
            <section id="what-youll-get" class="ts-block text-center pt-4">
                <div class="container">
                    <div class="ts-title">
                        <h2>Services</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <figure data-animate="ts-fadeInUp">
                                <figure class="icon mb-5 p-2">
                                    <img src="assets/img/icon-chart.png" alt="">
                                    <div class="ts-svg" data-animate="ts-zoomInShort" data-bg-image="assets/svg/organic-shape-01.svg"></div>
                                </figure>
                                <h4>Monitor Your Activity</h4>
                                <p>
                                    Morbi et nisl a sapien malesuada scelerisque. Suspendisse tempor turpis mattis
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                                <figure class="icon mb-5 p-2">
                                    <img src="assets/img/icon-target.png" alt="">
                                    <div class="ts-svg" data-animate="ts-zoomInShort" data-bg-image="assets/svg/organic-shape-02.svg"></div>
                                </figure>
                                <h4>Analyze Your Results</h4>
                                <p>
                                    Curabitur tellus enim, aliquet et porttitor id, accumsan at nulla. Praesent vestibulum
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                            <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                                <figure class="icon mb-5 p-2">
                                    <img src="assets/img/icon-first.png" alt="">
                                    <div class="ts-svg" data-animate="ts-zoomInShort" data-bg-image="assets/svg/organic-shape-03.svg"></div>
                                </figure>
                                <h4>Get Better!</h4>
                                <p>
                                    In non turpis convallis nunc fermentum porttitor sed quis sapien. Etiam et neque
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
        </div>
    </div>
</section>