<section class="main-content">
    <div class="container content-bg">
        <div class="row">
            <div class="col-md-7 col-xl-7 text-center" data-animate="ts-fadeInUp" data-delay="0.1s">
                <div class="px-3 mb-4">
                    <img src="assets/img/our-values.jpg" class="mw-100" alt="">
                </div>
            </div>

            <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp">
                <p></p>
                <div class="ts-title">
                    <h2>Vision</h2>
                </div>
                <p>
                    Deliver top notch quality products with unparalleled customer service to all our clients. Provide
                    accurate information and insights to our customers.
                </p>
                <div class="ts-title">
                    <h2>Mission</h2>
                </div>
                <p>
                    Connecting technical experts & their ideas to deliver redefined solutions.
                </p>

            </div>
        </div>
    </div>
</section>