<div class="ts-background" style="background-color: rgb(0, 19, 136);">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</div>
<div class="left-column side-column">
    <div *ngIf="canMoveLeft" class="next-prev">
        <span (click)="leftClick()">
            <i class="fas fa-3x fa-angle-double-left"></i>
        </span>
    </div>
</div>
<div class="right-column side-column">
    <div *ngIf="canMoveRight" class="next-prev">
        <span (click)="rightClick()">
            <i class="fas fa-3x fa-angle-double-right"></i>
        </span>
    </div>
</div>