<div id="wrapper-container">
    <header>
        <app-nav-bar></app-nav-bar>
    </header>

    <div id="main-content">
        <div id="sidebar1">
            <div *ngIf="canMoveLeft" class="next-prev">
                <span (click)="leftClick()" (mouseover)="leftClick()">
                    <i class="fas fa-3x fa-angle-double-left"></i>
                </span>
            </div>
        </div>
        <div id="sidebar2">
            <div *ngIf="canMoveRight" class="next-prev">
                <span (click)="rightClick()" (mouseover)="rightClick()">
                    <i class="fas fa-3x fa-angle-double-right"></i>
                </span>
            </div>
        </div>

        <div id="column1">
            <div id="route-container">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <footer>
        Copyright © Insight Trading & Co WLL. All Rights Reserved.
    </footer>

</div>
<!-- 
<div class="row align-center">
    <div class="col col-md-2">
        <div *ngIf="canMoveLeft" class="next-prev">
            <span (click)="leftClick()" (mouseover)="leftClick()">
                <i class="fas fa-3x fa-angle-double-left"></i>
            </span>
        </div>
    </div>
    <div class="col col-md-8">
        <app-nav-bar></app-nav-bar>
        <router-outlet></router-outlet>
    </div>
    <div class="col col-md-2">
        <div *ngIf="canMoveRight" class="next-prev">
            <span (click)="rightClick()" (mouseover)="rightClick()">
                <i class="fas fa-3x fa-angle-double-right"></i>
            </span>
        </div>
    </div>
</div> -->