<section class="main-content">
    <div class="container content-bg">
        <div class="row">
            <div class="col-md-7 col-xl-7 text-center" data-animate="ts-fadeInUp" data-delay="0.1s">
                <div class="px-3 mb-4">
                    <img src="assets/img/image-device-02.png" class="mw-100" alt="">
                </div>
            </div>
            
            <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp">
                <div class="ts-title">
                    <h2>Who Are We?</h2>
                </div>
                <p>
                    Actively performing towards creating a sustainable - technology driven - problem solving
                    environment. Insight delivers redefined solutions that create an everlasting partnership with our
                    customers.
                </p>
                <p>
                    Since 2009, we have catered to the needs of our customers and successfully completed projects.
                </p>
                <p>
                    We are committed to the needs of the society and manage our business with great responsibility. We
                    always work towards providing better customer services to our clients by constantly updating and
                    upgrading ourselves.
                </p>
                <p>
                    Team Insight is driven by a common objective of delivering redefined solutions.
                </p>
            </div>
        </div>
    </div>
</section>