<nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element no-padding" data-bg-color="#1d1d1d">
    
    <div class="container">
        <a class="navbar-brand" href="#page-top">
            <img src="assets/images/header_logo.png" alt="Insight Trading & Contracting WLL" width="219" height="129">
        </a>    
        <!--end navbar-brand-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--end navbar-toggler-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active ts-scroll" href="#page-top">Home <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link ts-scroll" href="#advanced-features">Features</a>
                <a class="nav-item nav-link ts-scroll" href="#pricing">Pricing</a>
                <a class="nav-item nav-link ts-scroll" href="#our-clients">Our Clients</a>
                <a class="nav-item nav-link ts-scroll" href="#our-team">Team</a>
                <a class="nav-item nav-link ts-scroll" href="#form-contact">Contact</a>
                <a class="ts-scroll btn btn-outline-light btn-sm m-1 px-3 ts-width__auto" href="#">
                    <i class="fas fa-sign-in-alt ts-opacity__80 pr-2"></i>
                    Log In
                </a>
                <a class="ts-scroll btn btn-primary btn-sm m-1 px-3 ts-width__auto" href="#">Register</a>
            </div>
            <!--end navbar-nav-->
        </div>
        <!--end collapse-->
    </div>
    <!--end container-->
</nav>