<section class="main-content">
    <div class="container content-bg ">
        <div class="row">
            <div class="col-md-7 col-xl-7 text-center" data-animate="ts-fadeInUp" data-delay="0.1s">
                <div class="px-3 mb-4">
                    <img src="assets/img/image-device-02.png" class="mw-100" alt="">
                </div>
            </div>
            <!--end col-xl-7-->
            <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp">
                <div class="ts-title">
                    <h2>Who Are We?</h2>
                </div>
                <!--end ts-title-->
                <p>
                    We are a global team of pioneering product creators unafraid to invest in our clients’ futures.
                    Spellbound harnesses industrial-strength imagination, blending art and science to conquer a diverse
                    range of business challenges.
                </p>
                <p>
                    Since 1992 we have helped some of the world’s leading brands overcome unique challenges by
                    imagining, designing and developing award-winning, new-to-the-world product solutions.
                    We don’t just come up with ideas, we come up with ideas that work. Then we bring them to life … all
                    on our dime!!
                </p>
            </div>
            <!--end col-xl-5-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>