@font-face {
  font-family: 'Ample Soft Pro';
  src: local('Ample Soft Pro Regular'), local('Ample-Soft-Pro-Regular'),
    url('AmpleSoftPro-Regular.woff2') format('woff2'),
    url('AmpleSoftPro-Regular.woff') format('woff'),
    url('AmpleSoftPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
