<header id="ts-hero" class="ts-full-screen ts-separate-bg-element" data-mask-bottom-wn-color="#fff" data-bg-image-opacity=".8" data-bg-parallax="scroll" data-bg-parallax-speed="3">
    <!--NAVIGATION ******************************************************************************************-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element" data-bg-color="#1d1d1d">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <img src="assets/img/logo-w.png" alt="">
            </a>
            <!--end navbar-brand-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--end navbar-toggler-->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active ts-scroll" href="#page-top">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link ts-scroll" href="#advanced-features">Features</a>
                    <a class="nav-item nav-link ts-scroll" href="#pricing">Pricing</a>
                    <a class="nav-item nav-link ts-scroll" href="#our-clients">Our Clients</a>
                    <a class="nav-item nav-link ts-scroll" href="#our-team">Team</a>
                    <a class="nav-item nav-link ts-scroll" href="#form-contact">Contact</a>
                    <a class="ts-scroll btn btn-outline-light btn-sm m-1 px-3 ts-width__auto" href="#">
                        <i class="fas fa-sign-in-alt ts-opacity__80 pr-2"></i>
                        Log In
                    </a>
                    <a class="ts-scroll btn btn-primary btn-sm m-1 px-3 ts-width__auto" href="#">Register</a>
                </div>
                <!--end navbar-nav-->
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!--end navbar-->

    <!--HERO CONTENT ****************************************************************************************-->
    <div class="container align-self-center align-items-center text-center">
        <h3 class="ts-opacity__50">We Are Introducing</h3>
        <h1>Startup Landing Page Pack</h1>
        <div class="display-3 mb-4">
            <a href="https://vimeo.com/63502573" class="video-popup text-white">
                <i class="far fa-play-circle"></i>
            </a>
        </div>
        <a href="#what-youll-get" class="btn btn-primary btn-lg ts-scroll">Learn More</a>
    </div>
    <!--end container-->

    <div class="ts-background" data-bg-color="#737373" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="owl-carousel ts-hero-slider ts-parallax-element" data-owl-loop="1" data-owl-fadeout="1">
            <div class="ts-background-image ts-opacity__70" data-bg-image="assets/img/bg-girl.jpg"></div>
            <div class="ts-background-image ts-opacity__80" data-bg-image="assets/img/bg-girl-02.jpg"></div>
        </div>
    </div>

</header>