.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  position: absolute;
  padding-top: 1rem;
}

.navbar-nav .nav-link {
  padding-top: 1.75rem;
}

.navbar {
  font-size: 1.2rem
}
