<section class="main-content align-center">
    <div class="container content-bg">
        <div class="ts-title">
            <h2>Services</h2>
        </div>
        <!--end ts-title-->
        <div class="row center">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon mb-5 p-2">
                        <img src="assets/img/services/electrical.jpg" height="180" alt="General Contracting">
                        <!-- <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-01.svg"></div> -->
                    </figure>
                    <h4> General Contracting </h4>
                    <div>
                        <ul class="center">
                            <li>Mechanical</li>
                            <li>Electrical</li>
                            <li>Plumbing</li>
                        </ul>
                    </div>
                </figure>
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon mb-5 p-2">
                        <img src="assets/img/services/coding.jpg" height="180" alt="Software Programming">
                        <!-- <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-02.svg"></div> -->
                    </figure>
                    <h4>Software Programming </h4>
                    <div>
                        <ul class="center">
                            <li>Software Development</li>
                            <li>Business Analytics</li>
                            <li>AI Solutions</li>
                            <li>SaaS</li>
                        </ul>
                    </div>
                </figure>
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon mb-5 p-2">
                        <img src="assets/img/services/network.jpg" height="180" alt="System Integration Services">
                        <!-- <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div> -->
                    </figure>
                    <h4>System Integration Services</h4>
                    <div>
                        <ul class="center">
                            <li>Audio Visual Solutions</li>
                            <li>Servers & Storage Solutions</li>
                            <li>Hybrid & Digital Workspace Solutions</li>
                        </ul>
                    </div>
                </figure>
            </div>
            <!--end col-xl-4-->
        </div>
    </div>
</section>