<section class="main-content align-center">
    <div class="container content-bg">
        <div class="ts-title p-1">
            <h2>Services</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon mb-2 p-1">
                        <img src="assets/img/services/electrical.jpg" height="150vh" alt="General Contracting">
                    </figure>
                    <h5> General Contracting </h5>
                    <div>
                        <p class="points">Mechanical</p>
                        <p class="points">Electrical</p>
                        <p class="points">Plumbing</p>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon mb-2 p-1">
                        <img src="assets/img/services/coding.jpg" height="150vh" alt="Software Programming">
                    </figure>
                    <h5>Software Programming </h5>
                    <div>
                        <p class="points">Software Development</p>
                        <p class="points">Business Analytics</p>
                        <p class="points">AI Solutions</p>
                        <p class="points">SaaS</p>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon mb-2 p-1">
                        <img src="assets/img/services/network.jpg" height="150vh" alt="System Integration Services">
                    </figure>
                    <h5>System Integration Services</h5>
                    <div>
                        <p class="points">Audio Visual Solutions</p>
                        <p class="points">Servers & Storage Solutions</p>
                        <p class="points">Hybrid and Digital Workspace Solutions</p>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>