<section class="align-center">
    <div class="container content-bg">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <br>
                <address>
                    <figure>
                        <div class="font-weight-bold">Address:</div>
                        <div>PB No 2503,</div>
                        <div>Doha, Qatar</div>
                    </figure>
                    <br>
                    <figure>
                        <div class="font-weight-bold">Email:</div>
                        <a href="mailto:sales@insight.com.qa">sales@insight.com.qa</a>
                    </figure>
                    <br>
                    <figure>
                        <div class="font-weight-bold">Phone:</div>
                        <span>+974 5557 0788</span>
                    </figure>
                </address>
            </div>
            <div class="col-md-8">
                <h3>Contact Form</h3>
                <form id="form-contact" #contactUs="ngForm" (ngSubmit)="sendEmail(contactUs.value)"
                    class="clearfix ts-form ts-form-email ts-inputs__transparent" tabindex="-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="form-contact-name">Your Name *</label>
                                <input type="text" class="form-control" id="form-contact-name" name="name"
                                    placeholder="Your Name" required ngModel>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="form-contact-email">Your Email *</label>
                                <input type="email" class="form-control" id="form-contact-email" name="email"
                                    placeholder="Your Email" required ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form-contact-message">Your Message *</label>
                                <textarea class="form-control" id="form-contact-message" rows="3" name="message"
                                    placeholder="Your Message" required ngModel></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <ng-container [ngSwitch]="emailStatus">
                            <ng-container *ngSwitchCase="'NotStarted'">
                                <button type="submit" class="btn btn-primary float-right" id="form-contact-submit"
                                    [disabled]="!contactUs.valid">
                                    <span>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                    <span> Send a Message</span>
                                </button>
                            </ng-container>
                            <ng-container *ngSwitchCase="'InProgress'">
                                <div class="btn btn-info float-right">
                                    <span>
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </span>
                                    <span> Sending your message to our sales team.</span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'CompletedSuccessfully'">
                                <div class="btn btn-success float-right">
                                    <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span> We will contact you soon.</span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Failed'">
                                <div class="btn btn-warning float-right">
                                    <span>
                                        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                                    </span>
                                    <span> Please call us on the phone number provided.</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="form-contact-status"></div>
                </form>
            </div>
        </div>
    </div>
</section>