<section class="align-center">
    <div class="container content-bg">
        <div class="ts-title">
            <h2>Our Customers</h2>
        </div>
        <!--end ts-title-->
        <div class="row align-center">
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c1.jfif" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-01.svg"></div>
                    </figure>

                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c2.jpg" alt="" width="70">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-02.svg"></div>
                    </figure>
                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 offset-sm-3 col-md-3 offset-md-0 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c3.jfif" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div>
                    </figure>
                </figure>
            </div>
            <div class="col-sm-3 offset-sm-3 col-md-3 offset-md-0 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c4.png" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div>
                    </figure>
                </figure>
            </div>
            <!--end col-xl-3-->
        </div>
        <div class="row align-center">
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c5.png" alt="Al Kaabi" width="100">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-01.svg"></div>
                    </figure>

                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c6.jfif" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-02.svg"></div>
                    </figure>
                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 offset-sm-3 col-md-3 offset-md-0 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c7.png" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div>
                    </figure>
                </figure>
            </div>
            <div class="col-sm-3 offset-sm-3 col-md-3 offset-md-0 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c8.jfif" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div>
                    </figure>
                </figure>
            </div>
            <!--end col-xl-3-->
        </div>
        <div class="row align-center">
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c9.jfif" alt="" width="65px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-01.svg"></div>
                    </figure>

                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 col-md-3 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c10.png" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-02.svg"></div>
                    </figure>
                </figure>
            </div>
            <!--end col-xl-3-->
            <div class="col-sm-3 offset-sm-3 col-md-3 offset-md-0 col-xl-3">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon p-2">
                        <img src="assets/img/customers/c11.png" alt="" width="70px">
                        <div class="ts-svg" data-animate="ts-zoomInShort"
                            data-bg-image="assets/svg/organic-shape-03.svg"></div>
                    </figure>
                </figure>
            </div>

            <!--end col-xl-3-->
        </div>
    </div>
</section>